// Basic styles
@font-face
{font-family: "Century Gothic"; src: url('/gothic.ttf')}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=cyrillic,latin);

$basefont: em($basefont-size);
*{@include box-sizing(border-box);}

html {
  font-size: $html-text-size;
  /* 1 */
  -ms-text-size-adjust: $html-text-size;
  /* 2 */
  -webkit-text-size-adjust: $html-text-size;
  /* 2 */ }

html,button,input,select,textarea {
  font-family: $basefontfamily;
}

body{
  background: $bodycolor;
  color: $textcolor;
  font-size: em($basefont-size,16);
  line-height: em($baseline-height);
}


.main-row{overflow: hidden;}

ul, ol, p{margin-bottom: $basefont;}

a{
  color:$linkcolor;
  @extend .transition;
  &:hover,&:active{
    color:$linkcolor-hover;
  }
  &:visited{
    color:$linkcolor-visited;
  }
}
h1,h2,h3,h4{
  font-size: em($hfont-size);
  margin-bottom: em($baseline-height,$hfont-size);
}
h4{
  font-weight: normal;
}
.small{
  font-size: em(12);
}


.entry-content .social-likes li{margin-left:3px;}

// Smaller screens

@media (max-width: $break-mid) {
  // html {font-size: 80%;}

  }
@media (max-width: $break-small) {
  // html {font-size: 100%;}
  }

.dflt-btn{
  color:#fff;
  width:inherit;
  padding:0 10px;
  line-height:30px;
  border:none;
  background:#d62017;
  &:hover{
    text-decoration: none;
    background: darken(#d62017, 20%);
  }
}

.transition{@include transition(all 0.3s linear);}
