footer.site-footer{
	border-top: 3px solid #fff540;
	margin-top: em(50);
}
.footer-partners{
	max-width:em(1026);
	margin: 0 auto;
	@include bpx(1000px) {max-width:em(711);}
	@include bpx(420px) {max-width:em(310);}
	li{
		height:em(81);
		padding: em(10) 0;
		float:left;
		margin-right:3.2%;
		@include bpx(1000px) {
			width:25%;
			text-align: center;
			height:em(70);
		}
		@include bpx(420px) {width:39%;}
		@include bpx(320px) {width:38%;height:em(60);}
	}
}
.copyright{
	text-align: center;
  p{
  	margin: em(-30) 0 em(5);
  }
}
.footer-contacts{
	margin-bottom: em(10)
}