// radial bottom shadow
.shadow_bottom{
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(168,168,168, 0.2);
  box-shadow:0 1px 4px rgba(168,168,168, 0.2);
  margin-bottom: em(40);
  position:relative;

}

.shadow_bottom:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.3);
    box-shadow:0 0 20px rgba(0,0,0,0.3);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:40%;
    -moz-border-radius:100%;
    border-radius:100%;
}

// responsive video container
.responsive-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  z-index: 1;
}
  .responsive-embed-container iframe, .responsive-embed-container object, .responsive-embed-container embed,.responsive-embed-container>ymaps,.responsive-embed-container>ymaps>ymaps {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%!important;
      height: 100%!important;
  }


// Плавное изменение элементов при масштабировании

// section, h1, li, img {
//     -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     transition: width 1s ease-in-out, left 1.5s ease-in-out;
// }
// Спрятать элемент
.hide {
position: absolute;
left: -200em;
}