.entry-title{
	a{text-decoration: none;}
	background: url(images/bullet.jpg) no-repeat;
	background-position:left bottom;
	padding-left:em(20);
	line-height:em(26,20);
	margin-bottom:em(10,20);
	@include bpx(460px) {margin-left: -20px;}
}
@include bpx(460px) {
	.parent-pageid-32 .entry-title,.page-id-32 .entry-title{
		background: url(images/1c-page.jpg) no-repeat;
		background-size: 25px 25px;
	}
	.parent-pageid-44 .entry-title,.page-id-44 .entry-title{
		background: url(images/IT-service.jpg) no-repeat;
		background-size: 25px 25px;
	}
	.parent-pageid-56 .entry-title,.page-id-56 .entry-title{
		background: url(images/sw.jpg) no-repeat;
		background-size: 25px 25px;
	}
}
.entry-content{margin-bottom: em(21);}
.entry-content ul{
	list-style: disc;
	li{
		margin-left:20px;
	}
}

.entry-meta{
	font-weight: bold;
	position: relative;
	font-size: em(12);
	margin: em(-10,12) 0 em(8,12) em(30,12);
}
footer.entry-meta{
	margin-left:0;
}
.content-col .page-thumb{
	padding-top: em(8);
	@include bp(s) {float:right;}
	@include bpx(460px) {display:none;}
}
