body .row .sidebar{
  display: block;
	background: white;
  position:relative;
  width:25.05%;
  min-width: em(271);
  min-height: em(500);
  @include bpx(710px) {
    width:em(280);
    display: none;
    position:absolute;
    margin-top: em(-39);
    min-height: inherit;
    padding: em(20);
    box-shadow: 3px 3px 4px #eee;
    z-index: 200;
    &:after{-webkit-box-shadow:none;box-shadow:none;}
  }
  @include bp(s) {
    padding-right:0;
    float:left;
    min-width: em(291);
  }
  @include bpx(460px) {margin-top: em(-20);}
}
body .row .content-col{
  width: 66.05%;
  @include bpx(960px) {width: 63.05%;}
  @include bpx(880px) {width: 60.05%;}
  @include bpx(800px) {width: 58.05%;float: left}
  @include bpx(710px) {width: auto;float:none}
}
.sidebar:after{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 40px rgba(100,100,100,0.3);
  box-shadow:0 0 40px rgba(100,100,100,0.3);
  bottom:10%;
  left:60%;
  right:10px;
  width:40%;
  height:90%;
  -moz-border-radius:100%;
  border-radius:100%;
}

.sidebar-nav ul{
  margin-bottom: 0;

}
.sidebar-nav li a:hover,.sidebar-nav li a:visited{color:$textcolor;}
.sidebar-nav li{
  margin-bottom: em(5);
  a{
    padding-right:em(5);
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: em(17);
    padding-left: em(6);
    line-height:em(26,17);
  }
  li{margin-left: em(5);}

  li a{
    font-size: em(15);
    padding-left: em(10);
    line-height:em(24,15);
    font-weight: normal;
    @include bpx(900) {font-size: em(13);}
  }
  .current-menu-item{background:#ffed00;}
}

.sidebar-nav li a:hover,.sidebar-nav li.current-menu-item>a{background:#ffed00;}

#sidebar-menu-btn{
  cursor: pointer;
  display:none;
  position: absolute;
  top:14px;
  left:14px;
  width: 33px;
  height: 33px;
  background: url(images/sidebar-menu-btn.png) no-repeat;
  @include bpx(710px) {display:block;}
  @include bpx(320px) {top:28px;}

}