.logo{margin:em(16,$hfont-size) 0 em(9,$hfont-size) ;}
body .row .logo-col{
  @include bp(s) {width:40%;}
  @include bp(xs) {width:60%;}
}
body .main-nav_bg{
  width: 100%;
  background: #ffde00;
  background-image: -moz-radial-gradient(center center, circle farthest-side, #fff600, #ffde00 74%);
  background-image: -webkit-radial-gradient(center center, circle farthest-side, #fff600, #ffde00 74%);
  background-image: -ms-radial-gradient(center center, circle farthest-side, #fff600, #ffde00 74%);
  background-image: radial-gradient(center center, circle farthest-side, #fff600, #ffde00 74%);
  @include bpx(460px) {overflow: hidden;margin-bottom: em(20)}
}
#menu-main{
	max-width:em(684);
	margin: 0 auto;
  @include bpx(710px) {padding-left: em(40);}
  @include bpx(460px) {margin-right: em(-50)}
}
#menu-main>li{
  white-space: nowrap;
  float: left;
  position: relative;
  font-size: em($menufont-size);
  text-align: center;
  @include border-radius(4px 4px 0 0);
  &.current-menu-item{
    background: #ffcc00;
  }
  &:hover{@extend .current-menu-item; @extend .transition;};
  &.current_page_ancestor{@extend .current-menu-item};
  a{
    display:block;
    padding:em(5,$menufont-size) em(10,$menufont-size);
    font-weight: bold;
    text-decoration: none;
  }
  @include bpx(710px) {font-size: em(14);width:30%;margin-right: em(10);}
  @include bpx(460px) {font-size: em(12);}
  @include bpx(360px) {font-size: em(10);}
  @include bpx(320px) {font-size: em(12);width:37%;}
}
#menu-main li a:hover, #menu-main li a:visited{color:$textcolor;}
#menu-main li:hover > ul {
    opacity: 1;
    height: auto;
    @extend .transition;
    z-index: 5;
    @include bpx(460px) {display: none;}
  }
#menu-main .sub-menu{
    opacity: 0;
    height: 0;
    background: #ffcc00;
    display: block;
    float: left;
    position: absolute;
    left:0;
    z-index: -1;
    li{
      white-space:nowrap;
      font-size: em(14,17);
      display: block;
      text-align: left;
      line-height: em(21,14);
      float: none;
      a{
        padding-left: em(10,14);
        font-weight: normal;
        line-height: em(21,14);
        &:hover{background: #ffed00}
      }
    }
}
#menu-main .sub-menu .current-menu-item{background: #ffed00}

@include bpx(510px) {
 #menu-main>.menu-item-31{text-align: left;}
 #menu-main>.menu-item-23{text-align: left;}
 #menu-main>.menu-item-27{text-align: right;}
 #menu-main>.menu-item-25{text-align: right;}
}
@include bpx(510px) {
 #menu-main>li,#menu-main>.menu-item-27,#menu-main>.menu-item-25{text-align: left;
 }
}