// Start the atmosphere of your design by defining the colours of your pages and text

$bodycolor              : #fff;

$textcolor              : #5b5b5a;
$alttextcolor           : #222;

$linkcolor              : #5b5b5a;
$altlinkcolor           : #70561d;

$linkcolor-hover        : #ba6900;
$altlinkcolor-hover     : #fb4724;

$linkcolor-visited      : #834a00;

// Now define your design typography by setting a base typeface and size
$basefontfamily         : "Open Sans", Palatino, "Times New Roman", Times, serif;
$basefontfamily-cap     : "PT Sans Caption", Palatino, "Times New Roman", Times, serif;

$html-text-size         : 100%;

$basefont-size          : 14;
$hfont-size        			: 22;
$menufont-size					: 17;

$baseline-height        : 22;

$altfont-size           : 18;

// Often you'll use an alternative typeface (eg: for buttons, form inputs and tables)
$altfontfamily          : "Helvetica Neue", Helvetica, Arial, sans-serif;
$altlineheight          : 1.35em;

// Your headings may inherit the base typeface, or you may set a different font stack
$baseheadingfont        : inherit;

// Choose between normal, bold or set a font-weight number (eg: 700) for your headings
$baseheadingfontweight  : bold;

// Your headings may inherit the $textcolor, or you may set a different colour
$baseheadingfontcolor   : inherit;

$break-small: 800px;
$break-mid: 1023px;

$default-box-shadow-color: #B4B4B4;

$default-box-shadow-h-offset: 3px;
$default-box-shadow-v-offset: 3px;

$default-box-shadow-blur: 9px